<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CUHKSZ BUS</title>

    {% include 'html_dependencies.jinja2' %}
</head>
{#<body class="d-flex flex-column">#}
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/bus">CUHKSZ BUS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/bus">Home</a></li>
{#            <li class="nav-item"><a class="nav-link" href="/upload">Upload Data</a></li>#}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="suggestId" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        </form>
    </div>
</nav>

{% block content %}

{% endblock %}
{#<footer>#}
{#    <div class="row text-center">#}
{#        <div class="col-md-4">#}
{##}
{#        </div>#}
{#        <div class="col-md-4">#}
{##}
{#        </div>#}
{#        <div class="col-md-4">#}
{##}
{#        </div>#}
{#        <a style="color: inherit;text-decoration: none; cursor: pointer; word-break: break-all;"#}
{#           href="http://beian.miit.gov.cn/" target="_blank">粤ICP备16103108号#}
{#        </a>#}
{#    </div>#}
{#</footer>#}
{# <footer class="bd-footer text-muted">#}
{#  <div class="container-fluid p-3 p-md-5">#}
{#    <ul class="bd-footer-links">#}
{#      <li><a href="https://github.com/twbs">GitHub</a></li>#}
{#      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>#}
{#      <li><a href="/docs/4.5/examples/">Examples</a></li>#}
{#      <li><a href="/docs/4.5/about/overview/">About</a></li>#}
{#    </ul>#}
{#    <p>Designed and built with all the love in the world by the <a href="/docs/4.5/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>#}
{#    <p>Currently v4.5.0. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>#}
{#  </div>#}
{#</footer>#}
</body>
</html>

